@font-face{
	src:url(../font/PressStart2P-Regular.ttf);
	font-family: ner;
}

body{
	background-image :  url(../img/juego.jpg);
   	font-family:ner ; 
   	background-size: 100%;
   	
   
 }
 
 span,th,a{
	font-family:ner ; 
}

#tristeMario{
	background-image :  url(../img/juegoTriste.jpg);
   	font-family:ner ; 
   	background-size: 100%;
}