<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Personas</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">



</head>
<body>

    <body>
	<div class="container">
		
						<p class="btn btn-primary" style="position: relative;left:47%;top:112px;">Agregar Persona</p>

		
		<div style="position: relative;left:30%;">

		<table class="table table-striped " style="background-color: azure;width: 600px;">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Telefono</th>
					<th scope="col">Email</th>
					<th scope="col">sin valor</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tr th:each="persona : ${list}">
				<td><span th:text="${persona.nombre}"> Nombre </span></td>
				<br>
				<td><span th:text="${persona.telefono}"> Telefono </span></td>
				<br>
				<td><span th:text="${persona.email}"> Email </span></td>
				<br>
				<td><span th:text="${persona.telefono}"> Telefono </span></td>
				<br>
				<td><a class="btn btn-danger"> eliminar </a>
				<a class="btn btn-secondary" th:href="@{/editar}"> editar </a></td>

			</tr>

		</table>
	</div>




</body>

</body>
</html>