<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Personas</title>

	<!-- Bootstrap CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">


	<!-- Bootstrap CSS -->

	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link th:href="@{/css/index.css}" rel="stylesheet" />

	<link href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css" rel="stylesheet" />
	<!-- último -->
	<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
	<!-- solo estilo del núcleo -->
	<link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body style="background-image:url(../static/img/mario.jpg) no-repeat center center fixed;">
	<div class="container" style="text-align: center;">


		<br>
		<div class="container" style="position: relative;left: -60px;">
			<div clas="persona" style="width: 300px;display:inline-block;">
				<div class="nes-field">
					<label for="name_field" style="color: white;">Nombre</label>
					<input type="text" id="nombre" th:field="*{persona.nombre}" class="nes-input">
				</div>
				<div class="nes-field">
					<label for="name_field" style="color: white;">Telefono</label>
					<input type="tel" id="telefono" th:field="*{persona.telefono}" class="nes-input">
				</div>
				<div class="nes-field">
					<label for="name_field" style="color: white;">Email</label>
					<input type="text" id="email" th:field="*{persona.email}" class="nes-input">
				</div>
				<div class="nes-field">
					<label for="name_field" style="color: white;">Fecha Nacimiento</label>
					<input type="text" id="nacimiento" th:field="*{persona.fechaNac}" class="nes-input">
				</div>
			</div>
			<div class="datosDom" style="width: 300px;display:inline-block;">
				<div class="nes-field">
					<label for="name_field" style="color: white;">Calle</label>
					<input type="text" id="calle" th:field="*{persona.domicilio.calle}" class="nes-input">
				</div>
				<div class="nes-field">
					<label for="name_field" style="color: white;">Altura</label>
					<input type="number" id="altura" th:field="*{persona.domicilio.altura}" class="nes-input">
				</div>
				<div class="nes-field">
					<label for="name_field" style="color: white;">Piso</label>
					<input type="text" id="piso" th:field="*{persona.domicilio.piso}" class="nes-input">
				</div>
				<div class="nes-field">
					<label for="name_field" style="color: white;">Departamento</label>
					<input type="text" id="departamento" th:field="*{persona.domicilio.departamento}" class="nes-input">
				</div>
			</div>
			<div class="domicilio" style="width: 300px;display:inline-block;">
				<label for="warning_select" style="color: white;">Pais</label>
				<div class="nes-select is-warning">
					<select id="customerNameList" name="customer" onchange="getComboA(this)">
						<option id="primerPais" disabled selected hidden>Select...</option>
						<option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.nombre}" id="pais">
						</option>
					</select>
				</div>
				<label for="warning_select" style="color: white;" name="provincia">Provincia</label>
				<div class="nes-select is-warning">
					<select id="customerNameListProvincia" name="customerr" onchange="getComboB(this)">
						<option value="" id="primerProvincia" disabled selected hidden>Select...</option>
						<option id="provincia"></option>
					</select>
				</div>
				<label for="warning_select" style="color: white;">Localidad</label>
				<div class="nes-select is-warning">
					<select id="customerNameListLocalidad" name="customerrr" onchange="getLocalidad(this)">
						<option th:value="*{persona.domicilio.localidad.id}"
							th:text="*{persona.domicilio.localidad.nombre}" disabled id="localidad" selected hidden>
							Select...</option>

					</select>
				</div>


			</div>
			<div style="position: relative;width: 300px;top:-290px;left: 1020px;">
				<label for="warning_select" style="color: white;">Tecnologia Preferida</label>
				<div class="nes-select is-warning">
					<select required id="warning_select" onchange="getTecnologia(this)">
						<option th:value="*{persona.tecnologia.id}" th:text="*{persona.tecnologia.nombre}" disabled
							selected hidden>Select...</option>
						<option th:each="tecnologia : ${tecnologias}" th:value="${tecnologia.id}"
							th:text="${tecnologia.nombre}" id="tecnologia">To be</option>
					</select>
				</div>
				<label for="warning_select" style="color: white;">Signo Zodiacal</label>
				<div class="nes-select is-warning">
					<select required id="warning_select" onchange="getSigno(this)">
						<option th:value="*{persona.signoZodiaco.id}" th:text="*{persona.signoZodiaco.nombre}" disabled
							selected hidden>Select...</option>
						<option th:each="signo : ${signos}" th:value="${signo.id}" th:text="${signo.nombre}" id="signo">
							To be</option>
					</select>
				</div>
				<label for="warning_select" style="color: white;">Tipo Contacto</label>
				<div class="nes-select is-warning">
					<select required id="warning_select" onchange="getTipoContacto(this)">
						<option th:value="*{persona.tipoContacto.id}" th:text="*{persona.tipoContacto.nombre}" disabled
							selected hidden>Select...</option>
						<option th:each="tipoContacto : ${tiposContacto}" th:value="${tipoContacto.id}"
							th:text="${tipoContacto.nombre}" id="tipoContacto">Tipo Contacto</option>
					</select>
				</div>
			</div>
			<div class="botones" style="position: relative;left: -25%;bottom: 250px;">
				<a class="btn btn-secondary" th:object="${Persona}" method="post"
					style="position: relative;left:35%;top:112px;" th:action="@{/adduser}"
					onclick="agregarPersona()">Actualizar
					Persona</a><br>
				<div style="position:relative;left: 35%;">
					<a class="btn btn-primary" th:href="@{/}" style="position: relative;top:112px;">Volver</a>
				</div>
			</div>
		</div>

		<script>
			var LocalidadToProvincia = document.getElementById("customerNameListLocalidad").value;
			var prov;
			var paisObt;

			var request = new Request('http://localhost:8080/api/Provincias/getByLocalidad/' + LocalidadToProvincia);
			//	$('#customerr').remove();

			fetch(request).then(function (response) {
				return response.text();
			}).then(function (text) {
				elemento = text;

				myArr = JSON.parse(text);

				prov = {id: myArr.id, nombre: myArr.nombre};

				var provinciaDefinida = document.getElementById("primerProvincia");
				provinciaDefinida.value = prov.id;
				provinciaDefinida.text = prov.nombre;




				request = new Request('http://localhost:8080/api/paises/' + prov.id);
				fetch(request).then(function (response) {
					return response.text();
				}).then(function (text) {
					elemento = text;

					myArr = JSON.parse(text);
					paisObt = {id: myArr.id, nombre: myArr.nombre};

					var PaisDefinido = document.getElementById("primerPais");
					PaisDefinido.value = paisObt.id;
					PaisDefinido.text = paisObt.nombre;



				}
				);
			});


			var provinciaSeleccionada;
			var localidadSeleccionada;
			var tecnologiaSeleccionada;
			var signoSeleccionada;
			var tipoContactoSeleccionado;
			var paisSeleccionado;


			function getLocalidad(selectObject) {
				localidadSeleccionada = selectObject.value;

			}

			function getSigno(selectObject) {
				signoSeleccionada = selectObject.value;
			}
			function getTipoContacto(selectObject) {
				tipoContactoSeleccionado = selectObject.value;
			}
			function getTecnologia(selectObject) {
				tecnologiaSeleccionada = selectObject.value;
			}
			function agregarPersona() {
				var nombre = document.getElementById("nombre").value;
				var telefono = document.getElementById("telefono").value;
				var email = document.getElementById("email").value;
				var nacimiento = document.getElementById("nacimiento").value;
				var calle = document.getElementById("calle").value;
				var altura = document.getElementById("altura").value;
				var piso = document.getElementById("piso").value;
				var departamento = document.getElementById("departamento").value;
				var pais = document.getElementById("pais").value;
				var provincia = provinciaSeleccionada;
				var tipoContactoo = tipoContactoSeleccionado;
				var localcito = document.getElementById("localidad");
				var provincita = document.getElementById("primerProvincia");
				var tipoContactito = document.getElementById("tipoContacto");
				var PaisDefinido = document.getElementById("primerPais");
				var tecnologitica = document.getElementById("tecnologia");
				var signito = document.getElementById("signo");

				localidadSeleccionada = localidadSeleccionada != null ? localidadSeleccionada : localcito.value;
				provinciaSeleccionada = provinciaSeleccionada != null ? provinciaSeleccionada : provincita.value;
				pais = PaisDefinido.value != null ? PaisDefinido.value : paisSeleccionado;
				tipoContactoSeleccionado = tipoContactoSeleccionado != null ? tipoContactoSeleccionado : tipoContactito.value;
				tecnologiaSeleccionada = tecnologiaSeleccionada != null ? tecnologiaSeleccionada : tecnologitica.value;
				signoSeleccionada = signoSeleccionada != null ? signoSeleccionada : signito.value;


				//var provincia = document.getElementById("provincia").value

				//	var nacimientoModificado = nacimiento.split("/").reverse().join("-");
				const nacimientoModificado = new Date(nacimiento);
				let tipoContacto = {id: tipoContactoSeleccionado};
				let tecnologia = {id: tecnologiaSeleccionada};
				let localidad = {id: localidadSeleccionada};
				let signoZodiaco = {id: signoSeleccionada};
				let domicilio = {
					calle: calle, altura: altura, piso: piso, departamento:
						departamento, localidad: localidad
				};
				let person = {
					nombre: nombre, telefono: telefono, email: email, fechaNac: nacimientoModificado, domicilio,
					pais: pais, provincia: provinciaSeleccionada,
					tipoContacto: tipoContacto, signoZodiaco: signoZodiaco, tecnologia: tecnologia
				};


				(async () => {
					const rawResponse = await fetch('http://localhost:8080/api/Persona/update', {
						method: 'POST',
						headers: {
							'Accept': 'application/json',
							'Content-Type': 'application/json'
						},
						body: JSON.stringify(person)
					});
					const content = await rawResponse.json();

					console.log(content);
				})();

			}

			function getComboA(selectObject) {
				var value = selectObject.value;
				paisSeleccionado = value;


				$("#customerNameListProvincia > option").each(function () {
					$("#customerNameListProvincia option[value='" + value + "']").remove();
				});

				$("#customerNameListLocalidad > option").each(function () {
					$("#customerNameListLocalidad option[value='" + value + "']").remove();
				});

				var provinciaDefinida = document.getElementById("primerProvincia");
				provinciaDefinida.value = "";
				provinciaDefinida.text = "";

				var localidadDefinida = document.getElementById("localidad");
				localidadDefinida.value = "";
				localidadDefinida.text = "";

				//customerNameListProvincia

				var request = new Request('http://localhost:8080/api/Provincias/' + value);
				//	$('#customerr').remove();

				fetch(request).then(function (response) {
					return response.text();
				}).then(function (text) {
					elemento = text;

					myArr = JSON.parse(text);

					var data = myArr;
					for (var index = 0; index <= data.length - 1; index++) {
						$('#customerNameListProvincia').append('<option value="' + data[index].id + '">' + data[index].nombre + '</option>');
					}
				});
			}

			function getComboB(selectObject) {
				var value = selectObject.value;


				provinciaSeleccionada = value;



				$("#customerNameListLocalidad > option").each(function () {
					$("#customerNameListLocalidad option[value='" + value + "']").remove();
				});

				var request = new Request('http://localhost:8080/api/Localidades/' + value);
				//	$('#customerr').remove();

				fetch(request).then(function (response) {
					return response.text();
				}).then(function (text) {
					elemento = text;

					myArr = JSON.parse(text);

					var data = myArr;
					for (var index = 0; index <= data.length - 1; index++) {
						$('#customerNameListLocalidad').append('<option value="' + data[index].id + '">' + data[index].nombre + '</option>');
					}
				});
			}



		</script>

</body>


</html>