<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Personas</title>

	<!-- Bootstrap CSS -->

	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}" />

	<link href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css" rel="stylesheet" />
	<!-- último -->
	<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
	<!-- solo estilo del núcleo -->
	<link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>


	<div style="text-align: center;position:relative;top:300px;">
		<select id="customerNameList" name="customer" onchange="getComboA(this)">
			<option value="0">seleccione un pais</option>

		</select>
	</div>
	<div style="text-align: center;position:relative;top:300px;">
		<select id="customerNameListProvincia" name="customerr" onchange="getComboB(this)">
			<option value="0">seleccione una provincia</option>

		</select>
	</div>

	<div style="text-align: center;position:relative;top:300px;">
		<select id="customerNameListLocalidad" name="customerrr" >
			<option value="0">seleccione una Localidad</option>

		</select>
	</div>

	<script>
	
	var request = new Request('http://localhost:8080/report/ventas/download?tipo=PDF');

			fetch(request).then(function (response) {
				return response.text();
			}).then(function (text) {
				elemento = text;

				myArr = JSON.parse(text);
				console.log(myArr);

				var data = myArr;
				for (var index = 0; index <= data.length; index++) {
					$('#customerNameListProvincia').append('<option value="' + data[index].id + '">' + data[index].nombre + '</option>');
				}
			});
			console.log(value);
	
	
		function getComboA(selectObject) {
			var value = selectObject.value;

			$("#customerNameListProvincia > option").each(function () {
				$("#customerNameListProvincia option[value='" + value + "']").remove();
			});
			
			$("#customerNameListLocalidad > option").each(function () {
				$("#customerNameListLocalidad option[value='" + value + "']").remove();
			});


			var request = new Request('http://localhost:8080/api/Provincias/' + value);

			fetch(request).then(function (response) {
				return response.text();
			}).then(function (text) {
				elemento = text;

				myArr = JSON.parse(text);
				console.log(myArr);

				var data = myArr;
				for (var index = 0; index <= data.length; index++) {
					$('#customerNameListProvincia').append('<option value="' + data[index].id + '">' + data[index].nombre + '</option>');
				}
			});
			console.log(value);
		}

		function getComboB(selectObject) {
			var value = selectObject.value;

			$("#customerNameListLocalidad > option").each(function () {
				$("#customerNameListLocalidad option[value='" + value + "']").remove();
			});


			var request = new Request('http://localhost:8080/api/Localidades/' + value);

			fetch(request).then(function (response) {
				return response.text();
			}).then(function (text) {
				elemento = text;

				myArr = JSON.parse(text);

				var data = myArr;
				for (var index = 0; index <= data.length; index++) {
					$('#customerNameListLocalidad').append('<option value="' + data[index].id + '">' + data[index].nombre + '</option>');
				}
			});
			console.log(value);
		}
		
		$(document).ready(function () {

			var request = new Request('http://localhost:8080/api/paises');


			fetch(request).then(function (response) {
				return response.text();
			}).then(function (text) {
				elemento = text;

				myArr = JSON.parse(text);

				var data = myArr;
				for (var index = 0; index <= data.length; index++) {
					$('#customerNameList').append('<option value="' + data[index].id + '">' + data[index].nombre + '</option>');
				}
			});

		});

	</script>


</body>

</html>